- var url = '/ezfiles/889/1889/img/2126/'

.page.container-fluid.module-title
  .row
    .col-xs-12.module-title
      h4.title 材料介紹
      h4.sub-title Material
          

.page.container-fluid.material
  .row
    .col-xs-12
      p 經合格檢驗認證，無甲醛、無毒，安心使用。
      figure.img(data-aos="fade-up")
        figcaption 中鋼獨立筒
        img.img-responsive(src=url + "material-1.jpg", alt="")
      figure.img(data-aos="fade-up")
        figcaption 比利時天然乳膠
        img.img-responsive(src=url + "material-2.jpg", alt="")
      figure.img(data-aos="fade-up")
        figcaption 英國小彈簧
        img.img-responsive(src=url + "material-3.jpg", alt="")
      figure.img(data-aos="fade-up")
        figcaption 高密度泡棉
        img.img-responsive(src=url + "material-4.jpg", alt="")
      figure.img(data-aos="fade-up")
        figcaption AGRO彈簧
        img.img-responsive(src=url + "material-5.jpg", alt="")
      figure.img(data-aos="fade-up")
        figcaption FERAN ICE抗靜電紗
        img.img-responsive(src=url + "material-6.jpg", alt="")
      figure.img(data-aos="fade-up")
        figcaption iCOLD極凍紗
        img.img-responsive(src=url + "material-7.jpg", alt="")