- var url = '/images/'

.page.container-fluid.page-title
  .row
    .col-xs-12
      .module-title
        h4 環安政策
        h5 ABOUT US

.page.container-fluid.global
  .row
    .col-sm-12.col-xs-12.img
      img.img-responsive.center-block(src=url + "global-1.png", alt="")
    .col-sm-12.col-xs-12.text
      h4.text-center 歐普仕公司之社會承諾
      p
        b 『減廢節能、遵守法規、全員參與、落實管理』
        br
        | 歐普仕化學科技是以生產為主，為求與環境共存共榮，不斷精進製程，維護工業安全與衛生降低能源消耗，致力於製程及資源  回收再利用，符合持續改善與污染防治之宣示，以減輕環境負荷。   遵守國內環保、環境政策管理、職業安全衛生法規，符合相關環境法令規章及須遵守的其他要求之承諾及其他相關規範。
  .row
    .col-sm-4.col-xs-12.img
      img.img-responsive.center-block(src=url + "global-2.jpg", alt="")
    .col-sm-8.col-xs-12.text
      h4 綠色化學並提供對環境友善的產品
      p
        b RoHS 《電氣、電子設備中限制使用某些有害物質指令》產品認證：
        br
        | 對於直接或間接影響品質之生產製程，在包含人員、材料、設備、程序等均應考量是否對環境產生衝擊，並在管制條件下予以規範，以既定方式和程序進行，並確保製程均在管制狀況下來加以監督及管制及防止污染之管控。
  .row
    .col-sm-4.col-xs-12.img
      img.img-responsive.center-block(src=url + "global-3.png", alt="")
    .col-sm-8.col-xs-12.text
      p
        b ISO/CNS 14064 碳足跡盤查：
        br
        | 近年來隨著規範先進國家溫室氣體排放之京都議定書(Kyoto Protocol)之生效，不僅受規範之已開發國家積極建構並落實溫室氣體排放管制工作，同時透過清潔發展機制（CDM）等國際合作減量機制之發展與運作。
        br
        | 有鑒於此，歐普仕化學科技公司期望與國際接軌並且透過碳足跡盤查計畫來控制產品於生產過程中之碳排放量，用以提供給客戶低碳產品進而達到緩和全球氣候變遷之趨勢留給世代子孫更美好的生活環境。   
  .row
    .col-xs-12.img
      img.img-responsive.center-block(src=url + "global-4.png", alt="")
  .row
    .col-sm-4.col-xs-12.img
      img.img-responsive.center-block(src=url + "global-5.jpg", alt="")
    .col-sm-8.col-xs-12.text
      h4 注重安全並營造健康與舒適的工作場所
      p
        b OHSAS18001 / ISO 14001著重事故預防與生產管理：
        br
        | 歐普仕化學科技公司相當重視化學物質的儲存與生產管理,設有專職人員蒐集化學相關安全訊息,並評估潛在風險。
        br
        | 有鑑於化學製品的不當管理,可能對環境、安全和健康產生有害影響,我們深信唯有提昇環境與危害控制管理,且依循 PDCA 的機制導入安全衛生系統(OHSAS18001 / ISO14001),提供注重健康與舒適的工作場所,有助於改進員工健康與安全,降低災害產生的風險,以達到零工安零事故之目標。 
  .row
    .col-xs-12.img
      img.img-responsive.center-block(src=url + "global-6.jpg", alt="")
  .row
    .col-xs-12.img
      .owl-carousel
        .item
          img.img-responsive.center-block(src=url + "global-owl-1.jpg", alt="") 
        .item
          img.img-responsive.center-block(src=url + "global-owl-2.jpg", alt="") 
        .item
          img.img-responsive.center-block(src=url + "global-owl-3.jpg", alt="") 