- var url = '/images/'
.banner.container-fluid
	.row
		.col-xs-12
			//- .text-content
			//- 	.content
			//- 		img.img-responsive(src=url + "banner-text.png", alt="")
			.owl-carousel.hidden-xs
				.item
					img.visible-xs(src=url + "banner.png", alt="")
					img.hidden-xs(src=url + "banner-m.png", alt="")
				.item
					img.visible-xs(src=url + "banner.png", alt="")
					img.hidden-xs(src=url + "banner-m.png", alt="")
				.item
					img.visible-xs(src=url + "banner.png", alt="")
					img.hidden-xs(src=url + "banner-m.png", alt="")