- var url = 'images/'
.banner.container-fluid#banner
	.row
		.col-xs-12
			//- .text-content
			//- 	.content
			//- 		img.img-responsive(src=url + "banner-text.png", alt="")
			.owl-carousel
				.item
					img.hidden-xs(src=url + "banner.jpg", alt="")
					img.visible-xs(src=url + "banner-m.png", alt="")
				.item
					img.hidden-xs(src=url + "banner.jpg", alt="")
					img.visible-xs(src=url + "banner-m.png", alt="")
				.item
					img.hidden-xs(src=url + "banner.jpg", alt="")
					img.visible-xs(src=url + "banner-m.png", alt="")