- var url = '/ezfiles/905/1905/img/2528/'
.banner.container-fluid
	.row
		.col-xs-12
			.text-content
				.content
					img.img-responsive(src=url + "banner-text.png", alt="")
			.owl-carousel.hidden-xs
				.item
					img.img-responsive(src=url + "banner.png", alt="")
				.item
					img.img-responsive(src=url + "banner.png", alt="")
				.item
					img.img-responsive(src=url + "banner.png", alt="")
				.item
					img.img-responsive(src=url + "banner.png", alt="")
				.item
					img.img-responsive(src=url + "banner.png", alt="")
			.owl-carousel.visible-xs
				.item
					img.img-responsive(src=url + "banner-m.jpg", alt="")
				.item
					img.img-responsive(src=url + "banner-m.jpg", alt="")
				.item
					img.img-responsive(src=url + "banner-m.jpg", alt="")
				.item
					img.img-responsive(src=url + "banner-m.jpg", alt="")
				.item
					img.img-responsive(src=url + "banner-m.jpg", alt="")