- var url = '/ezfiles/777/1777/img/338/'

.idx.container-fluid.section-1
  .row
    .col-xs-12
      .module-title
        .content
          h3 服務項目
          h4 Service
  .row.list
    .col-sm-4.col-xs-12
      a(href="")
        img.img-responsive.center-block(src=url + "section-1-img-1.png", alt="")
        .text
          img.img-responsive.center-block(src=url + "section-1-mask.png", alt="")
          p 醫療床專區
          p.text-center.readmore 
            span.btn(href="") READ MORE
    .col-sm-4.col-xs-12
      a(href="")
        img.img-responsive.center-block(src=url + "section-1-img-2.png", alt="")
        .text
          img.img-responsive.center-block(src=url + "section-1-mask.png", alt="")
          p 周邊商品
          p.text-center.readmore 
            span.btn(href="") READ MORE
    .col-sm-4.col-xs-12
      a(href="")
        img.img-responsive.center-block(src=url + "section-1-img-3.png", alt="")
        .text
          img.img-responsive.center-block(src=url + "section-1-mask.png", alt="")
          p 銀髮養生床專區
          p.text-center.readmore 
            span.btn(href="") READ MORE