- var url = '/ezfiles/912/1912/img/2680/'

.idx.container-fluid.section-3
  .row
    .col-xs-12
      .module-title
        h3 服務項目
        h4 OUR SERVICE
  .row
    .col.col-xs-6
      img.img-responsive(src=url + "section-3-icon-1.png", alt="" data-aos="fade-up")
      span.text(data-aos="fade-up" data-aos-delay="100") 全球動向
    .col.col-xs-6
      img.img-responsive(src=url + "section-3-icon-2.png", alt="" data-aos="fade-up")
      span.text(data-aos="fade-up" data-aos-delay="100") 產業趨勢
    .col.col-xs-6
      img.img-responsive(src=url + "section-3-icon-3.png", alt="" data-aos="fade-up")
      span.text(data-aos="fade-up" data-aos-delay="100") 投資建議
    .col.col-xs-6
      img.img-responsive(src=url + "section-3-icon-4.png", alt="" data-aos="fade-up")
      span.text(data-aos="fade-up" data-aos-delay="100") 專業團隊
    .col.col-xs-6
      img.img-responsive(src=url + "section-3-icon-5.png", alt="" data-aos="fade-up")
      span.text(data-aos="fade-up" data-aos-delay="100") 諮詢服務