- var url = '/ezfiles/905/1905/img/2528/'
.banner.container-fluid
	.row
		.col-xs-12
			//- 	.content
			//- img.img-responsive(src=url + "banner-text.png", alt="")
			.swiper-container.hidden-xs
				.swiper-wrapper
					.swiper-slide
						img.img-responsive(src=url + "banner.png", alt="")
					.swiper-slide
						img.img-responsive(src=url + "banner.png", alt="")
					.swiper-slide
						img.img-responsive(src=url + "banner.png", alt="")
				//- .swiper-button-next
				//- .swiper-button-prev
			.swiper-container.visible-xs
				.swiper-wrapper
					.swiper-slide
						img.img-responsive(src=url + "banner-m.jpg", alt="")
					.swiper-slide
						img.img-responsive(src=url + "banner-m.jpg", alt="")
					.swiper-slide
						img.img-responsive(src=url + "banner-m.jpg", alt="")
				//- .swiper-button-next
				//- .swiper-button-prev